{% extends "base.html" %}

{% block content %}


    <h2 style="text-align:center">Players</h2>
    <table class="table">
<thead class="thead-dark">
    <tr>
      <th scope="col">Player Name</th>
      <th scope="col">Number</th>
    <th scope="col">Image</th>
  </tr>
  </thead>
     {% for p in player_list %}
     <tr>
       <td>
         <a href="{% url "player_detail" p.id %}">   {{p.player_name}}</a>
</td>
       <td>{{p.player_number}}</td>
       <td class="playerimage">
<a href="{{p.imgfile.url}}">  <img src="{{p.imgfile.url}}" alt="{{p.player_name}}" style="height:50px;width:50px;border-radius:10px;"></a>
    </td>
       <td> <button type="button" class="btn-info leftmarginbutton">
      <a  href="{% url "delete" p.id %}">Delete Me</a>
        </button></td>
        <td>
        <button type="button" class="btn-success leftmarginbutton">
      <a href="{% url "player_edit"  p.id %}">Update</a>
        </button>
        </td>
     </tr>
     {% endfor %}
    </table>

{% endblock %}
