{% extends "base.html" %}
{% block content %}
    <h2 style="text-align:center">Team Detail for: {{team.team_name}}</h2>
    <table class="table">
      <tr>
      <th>Team Name</th>
      <th>Players</th>
<th>Logo</th>
    </tr>
     <tr>
       <td>{{team.team_name}}</td>
       <td>
         {% for p in team.players.all %}
         <li>
           <a href="{% url "player_detail" p.id %}">{{p}}</a>
         </li>
         {% endfor %}
         </td>
       <td>
         <img style="width:50px;height:50px;border-radius:50px;"src="{{team.logo.url}}"></td>

     </tr>
    </table>
{% endblock %}
