{% extends "base.html" %}

{% block content %}


    <h2 style="text-align:center">Players</h2>
    <table class="table">
<thead class="thead-dark">
    <tr>
      <th scope="col">Team Name</th>
    <th>Players</th>
  </tr>
  </thead>
  {% if team_list %}
     {% for p in team_list %}
     <tr>
       <td>
         <a href="{% url "team_detail" p.id %}">   {{p.team_name}}</a>
</td>
       <!-- <td class="playerimage">
<a href="{{p.logo.url}}">  <img src="{{p.logo.url}}" alt="{{p.team_name}}" style="height:100px;width:100px;border-radius:10px;"></a>
    </td> -->

    <td>
      {% for x in p.players.all %}
      <li>{{x}}</li>
          {% endfor %}
    </td>

       <td> <button type="button" class="btn-info leftmarginbutton">
      <a  href="{% url "delete" p.id %}">Delete Me</a>
        </button></td>
        <td>
        <button type="button" class="btn-success leftmarginbutton">
      <a href="{% url "player_edit"  p.id %}">Update</a>
        </button>
        </td>
     </tr>
     {% endfor %}

    </table>
    {% endif%}

{% endblock %}
