.redtext{
  color:red;
}
.tester a{
  font-size: 30;
  color: blue;
}
.smallimage{
  height: 10px;
}
.thefont{
font-family: arial;
}
body, html {
    height: 100%;
}

body {
  background-image: url("/static/newbgstuff.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.leftmarginbutton{
  margin-left: 10px;
}
.whiterounded{
    border-radius: 50px;
    background: #BEEEEF;
    padding: 20px;
}
p,h1,h2,h3,h4,h5,h6{
  font-family: 'Do Hyeon';
}
td,th{
  text-align: center;
  padding: 5px;
  font-family: 'Do Hyeon';
}
.playerimage{
  height:10px;
  width:10px;
  border-radius: 10px;
}
