<!DOCTYPE html>
{% load staticfiles %}
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
        <title>Blog Project</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

        {# MEDIUM STYLE EDITOR#}

        {# Custom CSS#}
        {%  load staticfiles %}
        <link rel="stylesheet" href="{% static 'base.css' %}">

        {# Fonts#}
        <link href="https://fonts.googleapis.com/css?family=Do+Hyeon" rel="stylesheet">


</head>
{% load static %}
<body>
  <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{% url "home"%}"> Baseball Stats</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="{% url "player_list" %}">Player List</a></li>
      {% if user.is_authenticated %}
      <li><a href="{% url "player_create" %}">Create A Player</a></li>
      <li>
<a href="{% url "upload_csv" %}">Upload CSV File</a>
      </li>
      {% endif %}
    </ul>
    <ul class="nav navbar-nav navbar-right">

      {% if user.is_authenticated %}
      <li><a href="{% url "logout" %}"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
      {% else %}
      <li><a href="{% url "signup" %}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="{% url "login" %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      {% endif %}
    </ul>
  </div>
</nav>




        <div class="content container">
          <div class="row">
            <div class="col-xs-12">
              <div class="whiterounded">
              {% block content %}
              {% endblock %}
            </div>
          </div>
          </div>
          </div>
</body>
</html>
